<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="a0c5837ebb094b578b436f03121bb022"/>
    <add key="NumberOfRetries" value="12"/>
    <add key="ApplicationBuildDate" value="11/4/1999 6:23 AM"/>
    <add key="AcceptableFailurePercentage" value="1.05"/>
    <add key="IsLoggingEnabled" value="true"/>
  </appSettings>
</configuration>